<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>best_flutter_ui_templates.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3404CBCBD289BFBCB447BEC897BBFCF2A950D51F</string>
				<key>dateExpires</key>
				<string>2021/11/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3404CBCBD289BFBCB447BEC897BBFCF2A950D51F</string>
						<key>dateExpires</key>
						<string>2021/11/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UB3KRPU8A9</string>
						<key>name</key>
						<string>ANH PHAM VIET</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3404CBCBD289BFBCB447BEC897BBFCF2A950D51F</string>
						<key>dateExpires</key>
						<string>2021/11/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UB3KRPU8A9</string>
						<key>name</key>
						<string>ANH PHAM VIET</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3404CBCBD289BFBCB447BEC897BBFCF2A950D51F</string>
						<key>dateExpires</key>
						<string>2021/11/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_keyboard_visibility.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UB3KRPU8A9</string>
						<key>name</key>
						<string>ANH PHAM VIET</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3404CBCBD289BFBCB447BEC897BBFCF2A950D51F</string>
						<key>dateExpires</key>
						<string>2021/11/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>screen.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UB3KRPU8A9</string>
						<key>name</key>
						<string>ANH PHAM VIET</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3404CBCBD289BFBCB447BEC897BBFCF2A950D51F</string>
						<key>dateExpires</key>
						<string>2021/11/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_player.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UB3KRPU8A9</string>
						<key>name</key>
						<string>ANH PHAM VIET</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3404CBCBD289BFBCB447BEC897BBFCF2A950D51F</string>
						<key>dateExpires</key>
						<string>2021/11/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>wakelock.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UB3KRPU8A9</string>
						<key>name</key>
						<string>ANH PHAM VIET</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3404CBCBD289BFBCB447BEC897BBFCF2A950D51F</string>
						<key>dateExpires</key>
						<string>2021/11/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UB3KRPU8A9</string>
						<key>name</key>
						<string>ANH PHAM VIET</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>UB3KRPU8A9.com.anhpv.bestFlutterUiTemplates</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>UB3KRPU8A9</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>UB3KRPU8A9.com.anhpv.bestFlutterUiTemplates</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d34d27fa-5046-486d-91fd-c509057a8f4a</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.anhpv.bestFlutterUiTemplates</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>UB3KRPU8A9</string>
				<key>name</key>
				<string>ANH PHAM VIET</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
